/*--------------------   ADMIN -----------------------------*/
.admin-wrapper .title{
    font-size: 20px;
}
.admin-wrapper .questions{
    padding: 0;
    margin: 0;
}
.admin-wrapper .question{
    padding: 5px 0px;
    margin: 5px 0px;
    border-bottom: 1px black solid;
    font-size: 16px;
}

.admin-wrapper .add-button-wrapper{
    margin: 15px 0;
    text-align: right;
}

.admin-wrapper .form_question_wrapper{
    border: 1px black solid;
    margin: 5px;
    padding: 10px;
}

.admin-wrapper .question .desc{
    font-size: 12px;
    margin-left: 20px;
}
.admin-wrapper .question-edit{
    float: right;
}

.admin-wrapper .question-actions{
    text-align: right;
}
.admin-wrapper .question-actions a{
    margin-left: 5px;
}

.admin-wrapper .selected{
    background-color: rgba(38,90,136,0.4);
    border-radius: 5px;
}

/*answer*/
.admin-wrapper .answers-wrapper{
    border: 1px black solid;
    padding: 5px;
    margin: 5px;
}

.admin-wrapper .answers{
    padding: 0 0 0 15px;
    margin: 0;
    list-style-type: none;
}
.admin-wrapper .answer td{
    padding: 5px;
    margin: 5px;
    vertical-align: top;
}
.admin-wrapper .answer td:last-child{
    vertical-align: middle;
}


/*whitelist*/
.admin-wrapper .ip_address td{
    padding: 7px;
    border-bottom: 1px black solid;
}
.admin-wrapper .ip_form_wrapper{
    margin: 25px 0;
    padding: 5px;
}

/*statistics */
.admin-wrapper .stat_item{
    width: 100%;
    margin: 0 0 20px 0px;
}
.admin-wrapper  .stat_question{
    padding: 5px 0;
}
/*--------------------   end ADMIN -----------------------------*/