/*----------common------------*/

.help-block{
    color: blue;
}
.has-error{
    border-color: red;
}

.error_message{
    font-size: 25px;
    padding: 10px;
    margin: 5px;
    color: red;
}

.tab-content{
    padding: 10px;
}
/*- end--------common------------*/


/*------------------MAIN PAGE------------------------------*/
.poll-wrapper{
    margin: 10px;
    border: 1px #737373 solid;
    padding: 10px;
}

.poll-wrapper .question{
    font-size: 250%;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px #737373 dashed;
    margin-bottom: 5px;
}

.poll-wrapper .answers{
    list-style-type: none;
    padding: 0 0 0 10px;
    margin: 10px 0;
}

.poll-wrapper .answer{
    margin-top: 10px;
}

.poll-wrapper .save{
    margin-left: 10px;
}
/*------------------end MAIN PAGE-----------------------*/


/*------------------Radio buttons--------------------*/
.radio-poll {
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    margin: 0;
}
input[type=radio].radio-poll{
    margin: 0;
}
.radio-poll:after {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
    border: 3px #098ade solid;
    display: inline-block;
}
.radio-poll:checked:after{
    background: #095487;
}

.label-poll{
    vertical-align: top;
    display: inline-block;
}
/*--end----------------Radio buttons--------------------*/