<div class="error_message"> {{ error_message }} </div>

<div class="admin-wrapper" bs-active-pane="activeTab" bs-tabs>

    <!------------------QUESTIONS-------------------------->
    <div data-title="Questions" bs-pane>
        <div class="questions">
            <div class="question row" ng-repeat="q in questions" ng-class="{selected: $index === selected_question}">
                <div class="col-md-9">
                    {{ $index + 1 }}. {{ ::q.title }}
                </div>
                <div class="col-md-3 question-actions">
                    <a ng-show="!q.is_default" href="" ng-click="set_default($index)"><span class="glyphicon glyphicon-off"> </span></a>
                    <a href="" ng-click="edit_question($index)"><span class="glyphicon glyphicon-pencil"> </span></a>
                    <a href="" ng-click="remove_question($index)"><span class="glyphicon glyphicon-remove"> </span></a>
                </div>
            </div>

        </div>
        </ol>

        <!--FORM DATA-->
        <div class="form_question_wrapper" ng-show="question">
            <form name="form_question" novalidate>
                <div ng-init="save_form_question(form_question)"></div>

                <!--QUESTION-->
                <div class="form-group">
                    <label>Title</label>
                    <input type="text"
                           ng-class="{ 'has-error' : form_question['question.title'].$invalid && !form_question['question.title'].$pristine }"
                           class="form-control"
                           name="question.title"
                           ng-model="question.title"
                           required
                           ng-minlength="3"
                           ng-maxlength="50" />

                    <p ng-show="form_question['question.title'].$error.required" class="help-block">Required.</p>
                    <p ng-show="form_question['question.title'].$error.minlength" class="help-block">Too short.</p>
                    <p ng-show="form_question['question.title'].$error.maxlength" class="help-block">Too long.</p>
                </div>

                <div class="form-group">
                    <label>Desc</label>
                <textarea class="form-control"
                          name="question.description"
                          ng-class="{ 'has-error' : form_question['question.description'].$invalid && !form_question['question.description'].$pristine }"
                          ng-model="question.description"
                          ng-maxlength="200" ></textarea>
                    <p ng-show="form_question['question.description'].$error.maxlength" class="help-block">Too long.</p>
                </div>
                <!--end QUESTION-->

                <!--ANSWERS-->
                <div class="answers-wrapper">
                    <div class="title"> Answers</div>
                    <table class="answers">
                        <tr class="answer" ng-repeat="a in question.answers">
                            <!--TITLE-->
                            <td >
                                <label>Title</label>
                                <input type="text"
                                       class="form-control"
                                       ng-class="{ 'has-error' : form_question['question.answers['+$index+'].title'].$invalid && !form_question['question.answers['+$index+'].title'].$pristine }"
                                       name="question.answers[{{ $index }}].title"
                                       ng-model="a.title"
                                       required
                                       ng-minlength="2"
                                       ng-maxlength="50" />
                                <p ng-show="form_question['question.answers['+$index+'].title'].$error.required" class="help-block">Required.</p>
                                <p ng-show="form_question['question.answers['+$index+'].title'].$error.minlength" class="help-block">Too short.</p>
                                <p ng-show="form_question['question.answers['+$index+'].title'].$error.maxlength" class="help-block">Too long.</p>
                            </td>
                            <!--end TITLE-->

                            <!--COLOR-->
                            <td >
                                <label>Color</label>
                                <input type="text"
                                       ng-class="{ 'has-error' : form_question['question.answers['+$index+'].color'].$invalid && !form_question['question.answers['+$index+'].color'].$pristine }"
                                       class="form-control"
                                       name="question.answers[{{ $index }}].color"
                                       ng-model="a.color"
                                       ng-minlength="3"
                                       ng-maxlength="9" />
                                <p ng-show="form_question['question.answers['+$index+'].color'].$error.minlength" class="help-block">Too short.</p>
                                <p ng-show="form_question['question.answers['+$index+'].color'].$error.maxlength" class="help-block">Too long.</p>
                            </td>
                            <!--end COLOR-->

                            <td >
                                <a href="" ng-click="remove_answer($index)"><span class="glyphicon glyphicon-remove"> </span></a>
                            </td>

                        </tr>
                    </table>
                    <div class="form-group add-button-wrapper">
                        <button type="button" class="btn btn-primary" ng-click="add_answer()">Add answer</button>
                    </div>
                </div>
                <!--end ANSWERS-->

                <div class="form-group add-button-wrapper">
                    <button type="button" class="btn btn-default" ng-click="cancel_question()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="save_question()">Save</button>
                </div>
            </form>
        </div>


        <div class="form-group add-button-wrapper" ng-hide="question">
            <button type="button" class="btn btn-primary" ng-click="add_question()">Add question</button>
        </div>
    </div>
    <!--end----------------QUESTIONS-------------------------->




    <!-----------------WHITELIST----------------------->
    <div data-title="Whitelist" bs-pane>

        <table class="whitelist">
            <tr class="ip_address" ng-repeat="w in whitelist">
                <td> {{$index+1}}. {{ w.ip_address }} </td>

                <td> <a href="" class="pull-right" ng-click="remove_ip($index)"><span class="glyphicon glyphicon-remove"> </span></a> </td>
            </tr>
        </table>

        <div class="ip_form_wrapper" ng-show="ip">
            <form name="form_ip" novalidate >
                <div ng-init="save_form_ip(form_ip)"></div>

                <!--QUESTION-->
                <div class="form-group">
                    <label>IP ADDRESS</label>
                    <a href="" ng-click="insert_my_ip()">Insert My IP address</a>

                    <input type="text"
                           ng-class="{ 'has-error' : form_ip['ip.ip_address'].$invalid && !form_ip['ip.ip_address'].$pristine }"
                           class="form-control"
                           name="ip.ip_address"
                           ng-model="ip.ip_address"
                           required
                           ng-minlength="3"
                           ng-maxlength="25" />

                    <p ng-show="form_ip['ip.ip_address'].$error.required" class="help-block">Required.</p>
                    <p ng-show="form_ip['ip.ip_address'].$error.minlength" class="help-block">Too short.</p>
                    <p ng-show="form_ip['ip.ip_address'].$error.maxlength" class="help-block">Too long.</p>
                </div>


                <div class="form-group  add-button-wrapper">
                    <button type="button" class="btn btn-default" ng-click="cancel_ip()">Cancel</button>
                    <button type="button" class="btn btn-primary" ng-click="save_ip()">Save</button>
                </div>
            </form>
        </div>

        <div class="form-group  add-button-wrapper" ng-hide="ip">
            <button type="button" class="btn btn-primary" ng-click="add_ip()">Add IP</button>
        </div>
    </div>
    <!-- end---------------WHITELIST----------------------->




    <!-----------------STATISTICS----------------------->
    <div data-title="Statistics" bs-pane>

        <div class="stat_list">
            <table class="stat_item" ng-repeat="q in questions">
                <tr><td class="stat_question">{{ $index + 1 }}. {{ ::q.title }} </td></tr>

                <!-- PERCENTAGE-->
                <tr class="statictics" >
                    <td class="answers">

                        <li class="answer" ng-repeat="a in q.percentage.answers">
                            <div class="progress">
                                <div class="progress-bar" ng-style="{'background' : a.answer.color, 'width': a.percent+'%' }"  role="progressbar">
                                    {{  a.answer.title }} {{ a.percent }}%
                                </div>
                            </div>
                        </li>

                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--end---------------STATISTICS----------------------->

</div>

