<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <ul class="nav navbar-nav">
        <li data-match-route="/poll"><a href="#/poll">Home</a></li>
        <li data-match-route="/admin"><a href="#/admin">Admin</a></li>
    </ul>
</nav>